<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Saída do SGE</title>
</head>
<body>
    <div class= "container">
        <h3>Nova Saída registrada no SGE</h3>
        <br><br>
        <p>Produto: <b>{{ product }}</b></p>
        <p>Quantidade: <b>{{ quantity }}</b></p>
        <p>Valor de venda: <b>R${{ total_value }}</b></p>
        <p>Lucro com a venda: <b>R${{ profit_value }}</b></p>
        <br><br>
        <p>Para mais informações, acesse o SGE.</p>
        <br><br>
        <p>Atenciosamente, <br> Gestão de estoque SGE</p>
    </div>
</body>
</html>